.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
}

.card-title {
  text-align: left;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  list-style: none;
  margin: 0 1rem;
}

.select-news {
  visibility: hidden;
}

.select-news.show {
  visibility: visible;
}
